[Desktop Entry]
Name=Change Wallpaper
Comment=Change Wallpaper
Exec=sh -c "~/.config/dotfiles/rofi/bin/filebrowser.sh ~/.config/dotfiles/wallpapers/"
Icon=~/.config/dotfiles/wallpapers/current.jpg
Terminal=false
Type=Application
