[Desktop Entry]
Name=Hyprland wiki
Comment=Hyprland wiki
Exec=setsid chromium --new-window -app="https://wiki.hypr.land/"
Icon=hyprland-logo
Terminal=false
Type=Application
