[Desktop Entry]
Name=Nix packages
Comment=Nix packages
Exec=ghostty --class=Impala --title=Impala -e ~/.config/dotfiles/scripts/pkg-install.sh
Icon=nixos-logo
Terminal=false
Type=Application
