/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     rgba(0, 0, 8, 0.6);
    background-transparent: #191b2600;
    background-alt: #282839FF;
    foreground:     #c0caf5;
    selected:       #54546d33;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
