/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #191b26ff;
    background-alt: #282839FF;
    foreground:     #D9E0EEFF;
    selected:       #f7768eFF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
